{% extends 'books_main.html' %}

{% block head %}
	<title>Książka</title>
{% endblock %}

{% block body %}
<body>
    <h2> Dodaj książkę </h2>
    <form method="POST" action="/update/{{ book_id }}/">
        {{ form.hidden_tag() }}
        <table>
            {% for field in form if field.widget.input_type != 'hidden' %}
                <tr>
                    <th>{{ field.label }} {% if field.flags.required %}*{% endif %}</th>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
        </table><br>
        <input type="submit" value="Submit Changes">
    </form>
</body>
{% endblock %}  

