{% extends 'books_main.html' %}

{% block head %}
	<title>Biblioteka</title>
{% endblock %}

{% block body %}
 
<h1>Lista książek</h1>

    <table>
        <thead>
            <th>Id</th>
            <th>Tytuł</th>
            <th>Autor</th>
            <th>Rok</th>
            <th>Gatunek</th>
            <th>Opis</th>
            <th>Skasuj</th>
            <th>Modyfikuj</th>
        </thead>
        {% for book in books %}
        <tr>
            <td>{{ book.id }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.year }}</td>
            <td>{{ book.genre }}</td>
            <td>{{ book.description }}</td>
            <td><a href="/delete/{{ book_id }}">Delete</a></td>
            <td><a href="/update/{{ book_id }}">Update</a></td>
        </tr>
    {% endfor %}
    </table>
    <div>
        <div class="Add_book">
        <h2> Dodaj książkę: </h2>
        <form method="POST" action="/books_index.html/">
            {{ form.hidden_tag() }}
            <table>
                {% for field in form if field.widget.input_type != 'hidden' %}
                <tr>
                    <th>{{ field.label }} {% if field.flags.required %}*{% endif %}</th>
                    <td>{{ field }}</td>
                </tr>
                {% endfor %}
            </table><br>
            <input type="submit" value="Dodaj">
        </form>
            <div class="footer">
                <h3> Pola zaznaczone <span style="color: rgb(4, 1, 14); font-size: 15px;">" * "</span> są obowiązkowe</h3>
            </div>
        </div>
    </div>

{% endblock %}
